// Variables

@brand-primary: #0085a1;
@brand-gray: #a3a3a3;

@gray-dark: lighten(black, 25%);
@gray-light: lighten(black, 75%);

@white-faded: fade(white, 80%);

@font-face {
  font-family: 'io.github.deepsleep-v3.blog.fonts.default';
  src: url('../fonts/YshiPenShutiTC-Regular.ttf'); // format('truetype');
}
